<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScoreboardAndRidingTimeClock.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4080708E1C29FF0E00E76845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>408070A21C29FF0E00E76845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>408070AD1C29FF0E00E76845</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
